- if defined? rendered_data
  %ul
    %li
      %a{:href => rendered_data.location}=rendered_data.name
      - rendered_data.sub_sitemap_urls.each do |sub_url_data|
        = render partial: '/sitemap/sitemap_url', :locals => {:rendered_data => sub_url_data}