-#  Link to the "Previous" page
-#  available local variables
-#    url:           url to the previous page
-#    current_page:  a page object for the currently displayed page
-#    num_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
%li.prev
  = link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, :rel => 'prev'
