<h2><%= t(:login)%></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, t(:username) %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, t(:password) %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, t(:remember_me) %></div>
  <% end -%>

  <div><%= f.submit t(:login), { :id => 'log_in'} %></div>
<% end %>

<!--
<%= render "devise/shared/links" %>
-->
