%article
  %h1= @doc.title
  %h2= @doc.motivation

  %dl
    %dt= t(:born)
    %dd= date_and_place(@doc.born, @doc.birthplace)
    %dt= t(:died)
    %dd= date_and_place(@doc.died, @doc.deathplace)


  %section.description
    %h3= t(:description)
    != render_description @doc.description

  = render :partial => '/photo_gallery', :locals => {:photos => @doc.photos}

  = render :partial => '/authors', :locals => { :doc => @doc }