%h1= t(:edit_route)

= render :partial => '/draft_notice_or_document_permalink', :locals => { :doc => @doc }

= form_for @doc, :html => { :multipart => true } do |f|
  %input.btn-large.btn-primary{:type => 'submit', :name => :save, :value => t(:save)}
  = render :partial => 'form', :locals => { :f => f }
  %input.btn-large.btn-primary{:type => 'submit', :name => :save, :value => t(:save)}
