%article
  %h1= @doc.title

  = render :partial => '/photo_gallery', :locals => {:photos => @doc.photos}

  %hr

  %section.description
    %h3= t(:description)
    != render_description @doc.description

  - if @doc.route_section_entries.present?
    %section.route_section_entries
      %h3= t(:route_section_entries)
      %table.table
        %tr
          %th= t(:distance)
          %th= t(:distance_sum)
          %th= t(:elevation)
          %th= t(:section_mark)
          %th= t(:map_marks)
          %th= t(:next_direction)
          %th= t(:bike_accessibility)
          %th= t(:notes)
        - distance_sum = 0
        - @doc.route_section_entries.each do |e|
          - distance_sum += e.distance
          %tr
            %td= e.distance
            %td= distance_sum
            %td= e.elevation
            %td= e.section_mark
            %td
              - if e.map_marks?
                %img{:src => e.map_marks(:icon)}
            %td
              - if e.next_direction?
                %img{:src => e.next_direction(:icon)}
            %td
              - if e.bike_accessibility?
                %img{:src => e.bike_accessibility(:icon)}
            %td= e.notes




  = render :partial => '/authors', :locals => { :doc => @doc }