%fieldset
  .row-fluid
    .span12
      = f.label :title, t(:title)
      = f.text_field :title

%fieldset.contents
  = f.label :contents, t(:description)
  = f.text_area :contents, { :class => 'richtext' }
