%h1= t(:edit_about)

= form_for @doc, :html => { :multipart => true } do |f|
  = render :partial => 'form', :locals => { :f => f }
  %input.btn-large.btn-primary{:type => 'submit', :name => :save, :value => t(:save)}
