= f.label :title, t(:title)
= f.text_field :title

= f.label :motivation, t(:motivation)
= f.text_field :motivation

.row-fluid
  %fieldset.contact-info.span6
    %legend= t(:contact_info)

    = f.label :email, t(:email)
    = f.email_field :email

    = f.label :website, t(:website)
    = f.url_field :website

    = f.label :telephone, t(:telephone)
    = f.text_field :telephone

    = f.label :municipality, t(:municipality)
    = f.text_field :municipality

    = f.label :municipality_section, t(:municipality_section)
    = f.text_field :municipality_section

    = f.label :street, t(:street)
    = f.text_field :street

    = f.label :street_number, t(:street_number)
    = f.text_field :street_number

    = f.label :postal_number, t(:postal_number)
    = f.text_field :postal_number

    = f.label :contact_notes, t(:contact_notes)
    = f.text_field :contact_notes

    = f.label :last_checkup, t(:last_checkup)
    = f.text_field :last_checkup
    %button.btn#yesterday= t(:yesterday)
    %button.btn#today= t(:today)
    .date-hint
      = t(:date_hint)
      24. 3. 1986


  %fieldset.location.span6
    %legend= t(:location)

    = f.label :coordinates, t(:coordinates)
    = f.text_area :coordinates

    = f.label :elevation, t(:elevation)
    = f.text_field :elevation

    = f.label :basic_numeral_data, t(:basic_numeral_data)
    = f.text_area :basic_numeral_data

    = f.label :cadastre, t(:cadastre)
    = f.text_field :cadastre

    = f.label :protected_teritory_categories, t(:protected_teritory_categories)
    = f.text_area :protected_teritory_categories



%fieldset#categories
  %legend= t(:categories)
  = render_category_checkboxes(@current_category.children, @doc.categories)


%fieldset.description
  = f.label :description, t(:description)
  = f.text_area :description, { :class => 'richtext' }


%fieldset.access
  %legend= t(:access_info)

  = f.label :train_access, t(:train_access)
  = f.text_area :train_access, { :class => 'richtext' }

  = f.label :public_transport_access, t(:public_transport_access)
  = f.text_area :public_transport_access, { :class => 'richtext' }

  = f.label :car_access, t(:car_access)
  = f.text_area :car_access, { :class => 'richtext' }

  = f.label :bus_access, t(:bus_access)
  = f.text_area :bus_access, { :class => 'richtext' }

  = f.label :walking_access, t(:walking_access)
  = f.text_area :walking_access, { :class => 'richtext' }

  = f.label :biking_access, t(:biking_access)
  = f.text_area :biking_access, { :class => 'richtext' }

  = f.label :for_disabled, t(:for_disabled)
  = f.text_area :for_disabled, { :class => 'richtext' }

  = f.label :tips_suggestions, t(:tips_suggestions)
  = f.text_area :tips_suggestions, { :class => 'richtext' }

= edit_photos(@doc.photos)

= render :partial => '/photo_upload'
