%h1= @doc.title
%h2= @doc.motivation

= render :partial => '/photo_gallery', :locals => {:photos => @doc.photos}

%article
  - if @doc.contact_info_present?
    %section.contact-info
      %h3= t(:contact_info)
      .telephone= @doc.telephone
      - if @doc.website.present?
        = link_to t(:website), normalize_url(@doc.website)
      %br
      = mail_to @doc.email

      - if @doc.contact_notes.present?
        %h4= t(:contact_notes)
        = @doc.contact_notes

  - if @doc.description.present?
    %section.description
      %hr
      != render_description @doc.description

  - if @doc.location_present?
    %section.location
      %hr
      %h3= t(:location)
      - if @doc.coordinates.present?
        %dt= t(:coordinates)
        %dd
      - @doc.coordinates.split("\n").each do |coord|
        %p= coord
      - if @doc.address_present?
        %h4= t(:address)
        %address
          - if @doc.street.present?
            = @doc.street
            = @doc.street_number
            %br
          - if @doc.municipality_section.present?
            = @doc.municipality_section
            %br
          -if @doc.municipality.present? || @doc.postal_number.present?
            = @doc.municipality
            = @doc.postal_number
      - if @doc.coordinates.present?
        #locationmap
        :javascript
          var egeonLatitude = #{@doc.latitude};
          var egeonLongitude = #{@doc.longitude};
          var egeonMarkerTitle = #{@doc.title.inspect};
          var egeonInfoWindowContents = #{@doc.gmaps4rails_infowindow.inspect};


      %dl
        - if @doc.cadastre.present?
          %dt= t(:cadastre)
          %dd= @doc.cadastre

        - if @doc.elevation.present?
          %dt= t(:elevation)
          %dd= @doc.elevation

        - if @doc.basic_numeral_data.present?
          %dt= t(:basic_numeral_data)
          %dd= @doc.basic_numeral_data

        - if @doc.protected_teritory_categories.present?
          %dt= t(:protected_teritory_categories)
          %dd= @doc.protected_teritory_categories


  - if @doc.lodging_present?
    %section.lodging
      %hr
      %h3= t(:lodging)
      %dl
        - if @doc.lodging.general_notes.present?
          %dt= t(:general_lodging_notes)
          %dd!= render_description @doc.lodging.general_notes

        - if @doc.lodging.room_description.present?
          %dt= t(:room_description)
          %dd!= render_description @doc.lodging.room_description

        - if @doc.lodging.services_included.present?
          %dt= t(:services_included)
          %dd!= render_description @doc.lodging.services_included

        - if @doc.lodging.services_available.present?
          %dt= t(:services_available)
          %dd!= render_description @doc.lodging.services_available

        - if @doc.lodging.internet_availability.present?
          %dt= t(:internet_availability)
          %dd!= render_description @doc.lodging.internet_availability

        - if @doc.lodging.arrival_since.present?
          %dt= t(:arrival_since)
          %dd= @doc.lodging.arrival_since

        - if @doc.lodging.departure_till.present?
          %dt= t(:departure_till)
          %dd= @doc.lodging.departure_till

        - if @doc.lodging.children_extra_beds.present?
          %dt= t(:children_extra_beds)
          %dd!= render_description @doc.lodging.children_extra_beds

        - if @doc.lodging.animals.present?
          %dt= t(:animals)
          %dd!= render_description @doc.lodging.animals

        - if @doc.lodging.bookings_payments_cancellation.present?
          %dt= t(:bookings_payments_cancellation)
          %dd!= render_description @doc.lodging.bookings_payments_cancellation

        %dt= t(:accept_credit_cards)
        %dd= @doc.lodging.accept_credit_cards ? t(:answer_yes) : t(:answer_no)


  - if @doc.access_present?
    %section.access
      %hr
      %h3= t(:access_info)

      - if @doc.train_access.present?
        %h4= t(:train_access)
        != render_description @doc.train_access

      - if @doc.public_transport_access.present?
        %h4= t(:public_transport_access)
        != render_description @doc.public_transport_access

      - if @doc.car_access.present?
        %h4= t(:car_access)
        != render_description @doc.car_access

      - if @doc.bus_access.present?
        %h4= t(:bus_access)
        != render_description @doc.bus_access

      - if @doc.walking_access.present?
        %h4= t(:walking_access)
        != render_description @doc.walking_access

      - if @doc.biking_access.present?
        %h4= t(:biking_access)
        != render_description @doc.biking_access

      - if @doc.for_disabled.present?
        %h4= t(:for_disabled)
        != render_description @doc.for_disabled

  - if @doc.tips_suggestions.present?
    %section.tips
      %hr
      %h3= t(:tips_suggestions)
      != render_description @doc.tips_suggestions
      %hr

  = render :partial => '/authors', :locals => { :doc => @doc }
