#categories-pane .child a
  text-decoration: none
  color: black
  text-shadow: none

  // Icons in the categories list
  padding-left: 24px
  background:
    size: 16px
    repeat: no-repeat
    position-x: 4px
    position-y: 3px

  //// Category-specific background colours
  //&.turisticke-informace
  //  background-color: #befb81
  //&.ubytovani
  //  background-color: #fbefc5
  //&.sluzby-pro-cyklisty
  //  background-color: #f9fbb7
  //&.mestka-sidla
  //  background-color: #bfbfbf
  //&.venkovska-sidla
  //  background-color: #d5d5d5
  //&.velkoplosna-chranena-uzemi
  //  background-color: #ecee9c
  //&.prirodni-rezervace-pamatky-zajimavosti
  //  background-color: #d5ee9c
  //&.pamatne-stromy-parky
  //  background-color: #bdee9c
  //&.zoologicke-botanicke-zahrady
  //  background-color: #a1ed9d
  //&.rozhledny-rozhledova-mista
  //  background-color: #8fe9ad
  //&.koupani-wellness
  //  background-color: #cdeaf7
  //&.archeologicke-lokality-zanikla-sidla
  //  background-color: #f9f48f
  //&.svetske-pamatky-stavby
  //  background-color: #fbe389
  //&.cirkevni-pamatky-nabozenske-stavby
  //  background-color: #fbd289
  //&.technicke-pamatky-zajimavosti
  //  background-color: #fbbd89
  //&.muzea-skanzeny-galerie-zpristupnena-podzemi
  //  background-color: #fbb193
  //&.pamatky-na-slavne-osobnosti-rodiny-udalosti
  //  background-color: #f69382
  //&.pamatna-mista-vojenske-historie
  //  background-color: #fe9ca3
  //&.prumyslove-podniky
  //  background-color: #c7b5c1
  //
  //&.routes-for-walkers
  //  background-color: #befb81
  //&.city-sightseeing
  //  background-color: #bfbfbf
  //&.biking
  //  background-color: #f9fbb7
  //&.cross-country-skiing
  //  background-color: #fefefb
  //&.waterman-routes
  //  background-color: #cdeaf7


  // Category-specific background icons
  // @each $category in infocentra, obecni-mestske-urady, spravy-narodnich-parku, spravy-chko, hotely-motely-penziony-chaty, kempy-taboriste, sluzby-pro-cyklisty, koupani-v-prirode, koupaliste, kryte-bazeny, archeologicke-lokality-zanikla-sidla, hradiste, hrady, tvrze, zamky, zriceniny, domy-palace, kostely, klastery, kaple, bozi-muka, krizove-cesty, smirci-krize-menhiry, synagogy, hrobky
  @each $category in koupani, ubytovani, pamatky, ostatni, sluzby-pro-cyklisty, priroda, sidla, informace,           routes-for-walkers, city-sightseeing, biking, cross-country-skiing, waterman-routes
    &[rel="#{$category}"]
      background-image: url(/icons/#{$category}.png?v=2)

  &:hover
    background-color: #eee

.galleria-container
  background: #fff

.galleria-counter
  color: black

.galleria-image-nav-left
  background-color: #F89406
  background-position: 20px

.galleria-image-nav-right
  background-color: #F89406
  background-position: -274px

#content
  .document-item
    margin-bottom: 1em
  a.photo
    float: left
    margin-right: 1em
    border: 1px solid lightgray

    img
      height: 75px
      width: 100px
      object-fit: cover
      object-position: top

  a
    color: #0088cc
    text-decoration: underline

  .thumbnail-text
    a
      color: #333333
      text-decoration: none
    a:hover,
    a:focus
      color: #F89406
      text-decoration: underlined

.thumbnail-text
  display: block
  text-align: justify

  h2
    padding: 0px
    margin-bottom: 10px

  h3
    font-size: small
    font-weight: normal
    padding: 0px

.photos
  height: 180px

/* LemmonSlider CSS */
.slider
  overflow: hidden
  position: relative
  ul
    margin: 0
    padding: 0
    li
      float: left
      margin: 0 5px 0 0
      list-style: none

/* IE6 issues */
.slider
  ul
    width: 100%

.controls
  margin-top: 10px
  a
    cursor: default

#categories
  li
    list-style-type: none
  label
    display: inline

fieldset
  margin-bottom: 30px
  input[type="text"], input[type="email"], input[type="url"]
    width: 90%
  textarea
    width: 90%
    height: 120px

label[for="lodging_accept_credit_cards"]
  display: inline

#destination_title
  width: 100%
  font-size: 28px
  height: 32px

#destination_motivation
  width: 100%

#destination_last_checkup
  width: 60%

#destination_description, #route_description, #event_description, #term_description, #personality_description, #page_contents
  height: 450px

#route_title, #event_title, #term_title, #event_motivation
  width: 90%


#edit-photos
  li.photo-details
    list-style-type: none
    padding: 5px
    display: block
    height: 300px

    & .drag-handle:hover
      background: lightgray

    &.ui-sortable-helper
      background: lightgray

a
  color: #333333

a:hover,
a:focus
  color: #F89406
  text-decoration: none

.galleria-lightbox-image
  bottom: 60px !important

.galleria-lightbox-info
  bottom: 45px !important

section
  padding: 0 0 10px 15px

  h1
    margin: 10px 0
    padding: 0

  h2
    margin: 0
    padding: 0

  h3, h4, h5, h6
    margin: 10px 0
    padding: 0

  dt, dd, address
    margin: 0
    padding: 0

  p
    margin: 0 0 10px 0
    padding: 0

.smap
  img
    max-width: none

.card
  a
    color: #0088cc
    text-decoration: underline
