.icon-menu
  position: relative
  top: 187px
  width: 100%
  display: inline-block
  padding: 0px
  align-content: center
  height: 50px
  filter: alpha(opacity=40)
  z-index: 10
  border-radius: 2px
  color: #000000
  background-color: rgba(255, 255, 255, 0.6)
  background-image: unset

  img
    width: 38px
    height: 38px
    margin: 6px

  li
    display: inline

.breadcrumbs-box
  .hr
    margin-top: -1px
    margin-right: 5px
    margin-left: 5px
    margin-bottom: 20px
  .text-left
    padding-left: 10px
    padding-right: 10px

.breadcrumb
  background-color: rgba(255, 255, 255, 0)
  -moz-border-radius: 0px
  border-radius: 0px
  margin: 3px
  font-weight: bold
  padding: 0px

.breadcrumbs
  float: left
  dispay: inline-block

.search
  margin-left: 0px
  margin-right: 14px

  form
    input
      width: 100%
      height: 16px
      float: none
      display: inline-block

.row-centered
  margin: 0 auto