section
  text-align: justify
  max-width: 800px

body
  background-color: #eee

footer
  background-color: #eee
  padding: 10px
  text-align: left
  margin-top: 20px

  a
    color: #f89406

  a:hover,
  a:focus
    color: #FFFFFF

  p
    margin: 0px

.container-fluid
  max-width: 960px
  margin: 0 auto
  text-align: left
  padding-left: 0px
  padding-right: 0px

.content
  padding-right: 0px
  padding-top: 20px
  padding-bottom: 0px
  padding-left: 0px

.main_page_header
  background-image: url("/icons/jindris.jpg")
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  height: 240px

@media (max-width: 978px)
  .container
    padding: 0
    margin: 0

  body
    padding: 0

h3
  margin-left: 15px
  line-height: 35px
  line-height: 1em

h4
  margin-left: 15px

dt
  margin-left: 15px
  font-size: 15px

dd
  margin-left: 15px

p
  margin-left: 15px

address
  margin-left: 15px

h2
  font-size: 20px
  margin: 0px
  line-height: 1em

.navbar
  background-color: #FFF
  margin-bottom: 0

.navbar-inner
  min-height: 60px
  background-color: #FFF
  border-left: 0
  border-right: 0
  border-top: 0
  border-bottom: 1px solid #a0a0a0
  background-image: none
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0

.navbar .brand
  padding: 10px 20px 10px

.navbar .nav
  margin: 20px 0 0 0
  text-align: center

  .main-menu
    li
      width: 7em

  .active
    a
      background-color: transparent
      -webkit-box-shadow: none
      box-shadow: none
      color: #cd7b05
      text-decoration: none
    a:hover
      color: #F89406
      background-color: transparent
      -webkit-box-shadow: none
      box-shadow: none

.navbar .nav.pull-right
  padding-left: 0

.navbar .nav > .active > a:focus
  color: #FFFFFF
  background-color: #F89406

.nav-border-common
  border-top: 0px
  border-bottom: 0px
  border-left: 0px
  border-right: 0px

.nav-border-left
  border-right: 1px solid #e8e8e8

.nav-border-inner
  border-left: 1px solid #e8e8e8
  border-right: 1px solid #e8e8e8

.nav-border-right
  border-left: 1px solid #e8e8e8

.terms_tags_navbar
  li
    display: inline
    text-decoration: none
  a
    text-decoration: none
    font-weight: bold

.minimal-content-margin
  margin: 10px

div.galleria-lightbox-info
  font: 15px/13px arial,sans-serif
  font-weight: bold

#locationmap
  width: 95%
  height: 400px

#locationmap.large
  height: 800px

#map img
  max-width: 400px
  float: right
  margin: 10px