// Place all the styles related to the sitemap controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sitemap_list
  .ul
    list-style-type: none
    margin: 0
    padding: 0
    .li
      margin-left: 10px
      border-bottom: 1px solid #ccc
      list-style: circle