%ul
  - categories.each do |c|
    %li
      - checked = selected.include?(c) ? true : nil
      %input{:type => 'checkbox', :value => c.id, :checked => checked, :id => "categories_#{c.id}", :name => "categories[]"}
      = label_tag "categories_#{c.id}", t(c.name)
      - if c.children.present?
        = render_category_checkboxes(c.children, selected)
