.document-item
  .row.row-centered
    .col-md-4
      - if !photos.empty?
        %a.photo{:href => photos.first.image.url}
          %img{:height => 75, :width => 100, :src => photos.first.image.url(:thumb), :class => "img-thumbnail"}
    .col-md-8
      .thumbnail-text
        %h2= target
        - if motivation.present?
          %h3= motivation
  %hr