- if photos.present?
  #galleria
    - photos.each do |photo|
      %a{:href => photo.image.url(:lightbox)}
        %img{:src => photo.image.url(:thumb), :'data-title' => [photo.description, photo.attribution].join(' — ') }
